img {
  max-width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

input:focus, button:focus {
  outline: none;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.button {
  font-family: Roboto Medium, serif;
  font-size: 14px;
  background-color: #ff9d00;
  border: none;
  color: #ffffff;
  padding: 13px 22px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffa71a;
}

.button_big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.button img {
  vertical-align: middle;
}

.header {
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  color: #373737;
  font-size: 22px;
  margin-right: 14px;
  text-decoration: none;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 14px;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #ffffff;
  z-index: 1;
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.main-img {
  position: relative;
}

.main-img::before {
  position: absolute;
  content: '';
  left: 50%;
  margin-left: -195px;
  width: 390px;
  height: 390px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: -1;
}

.main-text__title {
  font-family: Roboto Bold, serif;
  font-size: 41px;
  margin-bottom: 20px;
}

.main-text__subtitle {
  margin-bottom: 27px;
  font-family: Roboto Light;
  font-size: 28px;
  font-weight: 500;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 87px;
  font-family: Roboto Light;
  font-size: 20px;
  line-height: 30px;
}

.form-title__important {
  display: block;
  text-transform: uppercase;
  font-family: Roboto Bold;
}

.form__input {
  margin-right: 10px;
  padding: 20px;
  border-radius: 5px;
  border: none;
  font-family: Roboto Light;
  vertical-align: middle;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form-small {
  padding-left: 19px;
  font-family: Roboto Light;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto Medium, serif;
}
/*# sourceMappingURL=style.css.map */