html,body{
    height:100%;
  }
  #table{
    width:100%;
    height:100%;
  }
  .white{
    background:white;
  }
  .black{
    background:black;
  }
  
  
  .grid{
    width:50%;
    height:auto;
    position:relative;
    margin:auto
  }
  
  .grid:after{
    content:"";
    display:block;
    padding-top:100%;
  }
  
  .content{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:white;
  }
  
  