@font-face {
    font-family: 'Geometria Bold';
    src: url('/main/fonts/Geometria Bold/Geometria-Bold.eot');
    src: url('/main/fonts/Geometria Bold/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
    url('/main/fonts/Geometria Bold/Geometria-Bold.woff') format('woff'),
    url('/main/fonts/Geometria Bold/Geometria-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
font-family: 'Geometria Regular';
src: url('/main/fonts/Geometria Regular/Geometria.eot');
src: url('/main/fonts/Geometria Regular/Geometria.eot?#iefix') format('embedded-opentype'),
url('/main/fonts/Geometria Regular/Geometria.woff') format('woff'),
url('/main/fonts/Geometria Regular/Geometria.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}